USE [ThuchanhPTUDW]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 14/4/2025 9:02:08 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 14/4/2025 9:02:08 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[ParentId] [int] NULL,
	[Order] [int] NULL,
	[MetaDesc] [nvarchar](max) NOT NULL,
	[MetaKey] [nvarchar](max) NOT NULL,
	[CreateBy] [int] NOT NULL,
	[CreateAt] [datetime] NOT NULL,
	[UpdateBy] [int] NULL,
	[UpdateAt] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 14/4/2025 9:02:08 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Detail] [nvarchar](max) NOT NULL,
	[CreateAt] [datetime] NOT NULL,
	[UpdateBy] [int] NOT NULL,
	[UpdateAt] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Links]    Script Date: 14/4/2025 9:02:08 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Links](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[TableId] [int] NOT NULL,
	[Type] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Links] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 14/4/2025 9:02:08 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[TableId] [int] NULL,
	[TypeMenu] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
	[ParentId] [int] NULL,
	[Order] [int] NULL,
	[CreateBy] [int] NOT NULL,
	[CreateAt] [datetime] NOT NULL,
	[UpdateBy] [int] NULL,
	[UpdateAt] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Menus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 14/4/2025 9:02:08 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 14/4/2025 9:02:08 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ReceiverAddress] [nvarchar](max) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[CreateBy] [int] NOT NULL,
	[UpdateBy] [int] NOT NULL,
	[UpdateAt] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 14/4/2025 9:02:08 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TopID] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[PostType] [nvarchar](max) NULL,
	[MetaDesc] [nvarchar](max) NOT NULL,
	[MetaKey] [nvarchar](max) NOT NULL,
	[Order] [int] NULL,
	[CreateBy] [int] NOT NULL,
	[CreateAt] [datetime] NOT NULL,
	[UpdateBy] [int] NULL,
	[UpdateAt] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Posts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 14/4/2025 9:02:08 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CatId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[SalePrice] [decimal](18, 2) NOT NULL,
	[Amount] [int] NOT NULL,
	[MetaDesc] [nvarchar](max) NOT NULL,
	[MetaKey] [nvarchar](max) NOT NULL,
	[CreateBy] [int] NOT NULL,
	[CreateAt] [datetime] NOT NULL,
	[UpdateBy] [int] NOT NULL,
	[UpdateAt] [datetime] NOT NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sliders]    Script Date: 14/4/2025 9:02:08 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sliders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[URL] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Orders] [int] NULL,
	[Position] [nvarchar](max) NOT NULL,
	[MetaDesc] [nvarchar](max) NOT NULL,
	[MetaKey] [nvarchar](max) NOT NULL,
	[CreateAt] [datetime] NOT NULL,
	[CreateBy] [int] NOT NULL,
	[UpdateBy] [int] NOT NULL,
	[UpdateAt] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Sliders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 14/4/2025 9:02:08 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Slug] [nvarchar](max) NULL,
	[Order] [int] NULL,
	[FullName] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[MetaDesc] [nvarchar](max) NOT NULL,
	[MetaKey] [nvarchar](max) NOT NULL,
	[CreateAt] [datetime] NOT NULL,
	[CreateBy] [int] NOT NULL,
	[UpdateBy] [int] NOT NULL,
	[UpdateAt] [datetime] NOT NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_dbo.Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 14/4/2025 9:02:08 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[ParentId] [int] NULL,
	[Order] [int] NULL,
	[MetaDesc] [nvarchar](max) NOT NULL,
	[MetaKey] [nvarchar](max) NOT NULL,
	[CreateBy] [int] NOT NULL,
	[CreateAt] [datetime] NOT NULL,
	[UpdateBy] [int] NULL,
	[UpdateAt] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Topics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14/4/2025 9:02:08 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsreName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Img] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[CreateBy] [int] NOT NULL,
	[CreateAt] [datetime] NOT NULL,
	[UpdateBy] [int] NOT NULL,
	[UpdateAt] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Slug], [ParentId], [Order], [MetaDesc], [MetaKey], [CreateBy], [CreateAt], [UpdateBy], [UpdateAt], [Status]) VALUES (1, N'Áo Quần', N'ao-quan', 0, 1, N'Áo Quần', N'Áo Quần', 1, CAST(N'2023-11-29T20:57:26.613' AS DateTime), 1, CAST(N'2023-11-29T20:57:26.613' AS DateTime), 1)
INSERT [dbo].[Categories] ([Id], [Name], [Slug], [ParentId], [Order], [MetaDesc], [MetaKey], [CreateBy], [CreateAt], [UpdateBy], [UpdateAt], [Status]) VALUES (2, N'Phụ kiện', N'phu-kien', 0, 1, N'Phụ kiện', N'Phụ kiện', 1, CAST(N'2023-11-29T20:57:36.610' AS DateTime), 1, CAST(N'2023-11-29T20:57:36.610' AS DateTime), 1)
INSERT [dbo].[Categories] ([Id], [Name], [Slug], [ParentId], [Order], [MetaDesc], [MetaKey], [CreateBy], [CreateAt], [UpdateBy], [UpdateAt], [Status]) VALUES (3, N'Đồ nội thất', N'do-noi-that', 0, 1, N'Đồ nội thất', N'Đồ nội thất', 1, CAST(N'2023-11-29T20:57:55.640' AS DateTime), 1, CAST(N'2023-11-29T20:57:55.640' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Links] ON 

INSERT [dbo].[Links] ([Id], [Slug], [TableId], [Type]) VALUES (1, N'ao-quan', 1, N'category')
INSERT [dbo].[Links] ([Id], [Slug], [TableId], [Type]) VALUES (2, N'phu-kien', 2, N'category')
INSERT [dbo].[Links] ([Id], [Slug], [TableId], [Type]) VALUES (3, N'do-noi-that', 3, N'category')
SET IDENTITY_INSERT [dbo].[Links] OFF
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([Id], [Name], [TableId], [TypeMenu], [Position], [Link], [ParentId], [Order], [CreateBy], [CreateAt], [UpdateBy], [UpdateAt], [Status]) VALUES (1, N'Áo Quần', 1, N'category', N'MainMenu', N'ao-quan', 0, 0, 1, CAST(N'2023-11-29T21:02:27.607' AS DateTime), 1, CAST(N'2023-11-29T21:03:16.970' AS DateTime), 1)
INSERT [dbo].[Menus] ([Id], [Name], [TableId], [TypeMenu], [Position], [Link], [ParentId], [Order], [CreateBy], [CreateAt], [UpdateBy], [UpdateAt], [Status]) VALUES (2, N'Phụ kiện', 2, N'category', N'MainMenu', N'phu-kien', 0, 0, 1, CAST(N'2023-11-29T21:02:27.617' AS DateTime), 1, CAST(N'2023-12-01T09:26:53.243' AS DateTime), 2)
INSERT [dbo].[Menus] ([Id], [Name], [TableId], [TypeMenu], [Position], [Link], [ParentId], [Order], [CreateBy], [CreateAt], [UpdateBy], [UpdateAt], [Status]) VALUES (3, N'Đồ nội thất', 3, N'category', N'MainMenu', N'do-noi-that', 0, 0, 1, CAST(N'2023-11-29T21:02:27.617' AS DateTime), 1, CAST(N'2023-12-01T09:26:55.030' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([Id], [TopID], [Title], [Slug], [Detail], [Image], [PostType], [MetaDesc], [MetaKey], [Order], [CreateBy], [CreateAt], [UpdateBy], [UpdateAt], [Status]) VALUES (1, 1, N'BlackFriday', N'blackfriday', N'Sale', NULL, N'post', N'Sale', N'Sale', 1, 1, CAST(N'2023-11-29T21:01:55.000' AS DateTime), 1, CAST(N'2023-12-01T09:22:27.830' AS DateTime), 0)
INSERT [dbo].[Posts] ([Id], [TopID], [Title], [Slug], [Detail], [Image], [PostType], [MetaDesc], [MetaKey], [Order], [CreateBy], [CreateAt], [UpdateBy], [UpdateAt], [Status]) VALUES (2, 0, N'Sale', N'sale', N'Sale', N'sale0.png', N'page', N'Sale', N'Sale', NULL, 1, CAST(N'2023-11-29T21:02:18.193' AS DateTime), 1, CAST(N'2023-11-29T21:02:21.017' AS DateTime), 1)
INSERT [dbo].[Posts] ([Id], [TopID], [Title], [Slug], [Detail], [Image], [PostType], [MetaDesc], [MetaKey], [Order], [CreateBy], [CreateAt], [UpdateBy], [UpdateAt], [Status]) VALUES (3, 2, N'BlackFriday', N'blackfriday', N'Sale', N'blackfriday0.jpg', N'post', N'Sale', N'Sale', 1, 1, CAST(N'2023-12-01T09:23:04.740' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Posts] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [CatId], [Name], [SupplierID], [Slug], [Image], [Price], [SalePrice], [Amount], [MetaDesc], [MetaKey], [CreateBy], [CreateAt], [UpdateBy], [UpdateAt], [Status]) VALUES (1, 1, N'Áo thun', 1, N'ao-thun', N'ao-thun.jpg', CAST(20.00 AS Decimal(18, 2)), CAST(15.00 AS Decimal(18, 2)), 21, N'Áo thun', N'Áo', 1, CAST(N'2023-11-29T20:59:11.900' AS DateTime), 1, CAST(N'2023-11-29T20:59:11.900' AS DateTime), 1)
INSERT [dbo].[Products] ([Id], [CatId], [Name], [SupplierID], [Slug], [Image], [Price], [SalePrice], [Amount], [MetaDesc], [MetaKey], [CreateBy], [CreateAt], [UpdateBy], [UpdateAt], [Status]) VALUES (2, 2, N'Đồng hồ', 2, N'dong-ho', N'dong-ho.png', CAST(123.00 AS Decimal(18, 2)), CAST(15.00 AS Decimal(18, 2)), 22, N'Đồng hồ', N'Đồng hồ', 1, CAST(N'2023-11-29T20:59:36.570' AS DateTime), 1, CAST(N'2023-11-29T20:59:36.570' AS DateTime), 1)
INSERT [dbo].[Products] ([Id], [CatId], [Name], [SupplierID], [Slug], [Image], [Price], [SalePrice], [Amount], [MetaDesc], [MetaKey], [CreateBy], [CreateAt], [UpdateBy], [UpdateAt], [Status]) VALUES (3, 3, N'Đèn ngủ', 2, N'den-ngu', N'den-ngu.png', CAST(123.00 AS Decimal(18, 2)), CAST(15.00 AS Decimal(18, 2)), 0, N'Đèn ngủ', N'Đèn ngủ', 1, CAST(N'2023-11-29T21:00:38.000' AS DateTime), 1, CAST(N'2023-11-29T21:00:45.533' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Sliders] ON 

INSERT [dbo].[Sliders] ([Id], [Name], [URL], [Image], [Orders], [Position], [MetaDesc], [MetaKey], [CreateAt], [CreateBy], [UpdateBy], [UpdateAt], [Status]) VALUES (1, N'Popular', N'Popular', N'popular0.jpg', 1, N'Slider', N'Popular', N'Popular', CAST(N'2023-11-29T21:03:12.050' AS DateTime), 1, 0, NULL, 1)
SET IDENTITY_INSERT [dbo].[Sliders] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([Id], [Name], [Image], [Slug], [Order], [FullName], [Phone], [Email], [MetaDesc], [MetaKey], [CreateAt], [CreateBy], [UpdateBy], [UpdateAt], [Status]) VALUES (1, N'Anh China', N'anh-china.jpg', N'anh-china', 1, N'Anh China', N'1234567890', N'124@gmail.com', N'Anh China', N'Anh China', CAST(N'2023-11-29T20:58:21.750' AS DateTime), 1, 1, CAST(N'2023-11-29T20:58:21.750' AS DateTime), 1)
INSERT [dbo].[Suppliers] ([Id], [Name], [Image], [Slug], [Order], [FullName], [Phone], [Email], [MetaDesc], [MetaKey], [CreateAt], [CreateBy], [UpdateBy], [UpdateAt], [Status]) VALUES (2, N'Anh CosPlayer', N'anh-cosplayer.jpg', N'anh-cosplayer', 2, N'Anh CosPlayer', N'1234567890', N'124@gmail.com', N'Anh CosPlayer', N'Anh CosPlayer', CAST(N'2023-11-29T20:58:43.000' AS DateTime), 1, 1, CAST(N'2023-12-01T08:51:47.450' AS DateTime), 0)
INSERT [dbo].[Suppliers] ([Id], [Name], [Image], [Slug], [Order], [FullName], [Phone], [Email], [MetaDesc], [MetaKey], [CreateAt], [CreateBy], [UpdateBy], [UpdateAt], [Status]) VALUES (3, N'Anh Long', N'anh-long.png', N'anh-long', 2, N'Anh Long', N'1234567890', N'124@gmail.com', N'anh-long', N'bla bla bla bla bla bla', CAST(N'2023-12-01T08:52:23.000' AS DateTime), 1, 1, CAST(N'2023-12-01T08:52:34.727' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Topics] ON 

INSERT [dbo].[Topics] ([Id], [Name], [Slug], [ParentId], [Order], [MetaDesc], [MetaKey], [CreateBy], [CreateAt], [UpdateBy], [UpdateAt], [Status]) VALUES (1, N'Sale', N'sale', 0, 1, N'Sale', N'Sale', 1, CAST(N'2023-11-29T21:01:04.797' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[Topics] ([Id], [Name], [Slug], [ParentId], [Order], [MetaDesc], [MetaKey], [CreateBy], [CreateAt], [UpdateBy], [UpdateAt], [Status]) VALUES (2, N'black friday', N'black-friday', 0, 1, N'big sale', N'big sale', 1, CAST(N'2023-11-29T21:01:27.077' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Topics] OFF
GO
